<p id="notice"><%= notice %></p>

<p>
  <strong>User:</strong>
  <%= @history.user %>
</p>

<p>
  <strong>Latitude:</strong>
  <%= @history.latitude %>
</p>

<p>
  <strong>Longitude:</strong>
  <%= @history.longitude %>
</p>

<%= link_to 'Edit', edit_history_path(@history) %> |
<%= link_to 'Back', histories_path %>
